//- left_side.pug

.bulle
  img(src='img/mouse.svg', alt='Une souris', width='200', height='200')
.bulle
  img(src='img/pirate.svg', alt='Un drapeau de pirate', width='200', height='200')
.bulle
  img(src='img/antenne.svg', alt='Une antenne parabolique', width='200', height='200')
.bulle
  img(src='img/boat.svg', alt='Un bateau a voile', width='200', height='200')
