//- right_side.pug

.bulle
  img(src='img/bat.svg', alt='Une chauve-souris', width=200, height=200)
.bulle
  img(src='img/escargot.svg', alt='Un escargot sympat', width='200', height='200')
.bulle
  img(src='img/man.svg', alt='Un bonhomme dessine par un enfant', width='200', height='200')
.bulle
  img(src='img/thunder.svg', alt='Un nuage et un eclaire', width='200', height='200')
.bulle
  img(src='img/wurm.svg', alt='Un ver de terre', width='200', height='200')
