//- rouleau_footer.pug

footer
  h1 Plein de liens
  ul
    li
      a(href='https://developer.mozilla.org/en-US/') tutorials 
    li
      a(href='https://www.w3schools.com/colors/colors_picker.asp') color picker
    li
      a(hrel='https://github.com/charlyoleg/rouleau') github
  ul
    li
      a(href='https://www.grafikart.fr/') french tutorial
    li
      a(href='https://jamstack.org/') JAMstack


