//- rouleau_footer.pug

footer#about
  h1 Plein de liens
  ul
    li
      a(href='https://developer.mozilla.org/en-US/') tutorials 
    li
      a(href='https://www.w3schools.com/colors/colors_picker.asp') color picker
    li
      a(href='https://github.com/charlyoleg/rouleau') github
  ul
    li
      a(href='https://www.grafikart.fr/') french tutorial
  ul
    li
      a(href='https://jamstack.org/') JAMstack
    li
      a(href='https://en.wikipedia.org/wiki/Progressive_web_applications') PWA: Progressive Web App
    li
      a(href='https://swagger.io/specification/') REST API
    li
      a(href='https://en.wikipedia.org/wiki/Content_delivery_network') Content Delivery Network
    li
      a(href='https://en.wikipedia.org/wiki/Source-to-source_compiler') Transpilation
    li
      a(href='https://pugjs.org/api/getting-started.html') Pug
    li
      a(href='https://sass-lang.com/') Sass
    li
      a(href='https://www.typescriptlang.org/') TypeScript
    li
      a(href='https://www.w3.org/TR/html5/') HTML 5
    li
      a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3') CSS 3
    li
      a(href='http://es6-features.org') ECMAScript 6
    li
      a(href='https://en.wikipedia.org/wiki/Single-page_application') SPA: Single Page Application

    .finito
      img(src='img/bat.svg', alt='Une chauve-souris', width=200, height=200)
    .finito
      img(src='img/bat.svg', alt='Une chauve-souris', width=200, height=200)
    .finito
      img(src='img/bat.svg', alt='Une chauve-souris', width=200, height=200)
    .finito
      img(src='img/bat.svg', alt='Une chauve-souris', width=200, height=200)
    .finito
      img(src='img/bat.svg', alt='Une chauve-souris', width=200, height=200)
