//- rouleau_main.pug

mixin vote_finalization
  .final_refusal
    label
      input(type='checkbox', name='island_refusal')
      |  I don't want to participate to this vote. Some hints:
    select(name='island_refusal_details')
      option(value='my_decision') My decision
      option(value='wording') The wording of questions and proposal is ambiguious
      option(value='missing_proposals') Important proposals are missing
      option(value='indecent') It contains indecent questions or proposals
      option(value='information') The current information on this topic is too bad
      option(value='debat') The current debat on this topic is too bad
      option(value='several') For several of the above reasons
      option(value='other') For other reasons
  .action_bar
    .one_button
      button.action_button_reset(type='button') Reset
    .one_status
      span.action_status No submitted entries
    .one_button
      button.action_button_submit(type='button') Submit
  .result
    output Undeclared views
  .log

main
  nav.navigo
    a(href='#') Top
    a(href='#layout-explanations') Layout
    a(href='#a-proposal') Proposal
    a(href='#a-survey') Survey
    a(href='#four') four
    a(href='#five') five
    a(href='#six') six
    a(href='#seven') seven
    a(href='#eight') eight
    a(href='#apropos') Apropos
  main.core_columns
    aside.left_side_shutter
      input#left_side_checkbox(type='checkbox', checked=true)
      label.side_checkbox_label(for='left_side_checkbox')
      aside.left_side
        include left_side.pug
    main.core
      .water#layout-explanations
        .island
          h1 The Rouleau's layout
          h2 Explanations of the layout of this SPA
          h3 The global layout
          p Per definition and per concept a single-page-application is from the DOM point of view a single HTML page, i.e. a single DOM. When the application is running, the structure and/or the appearance of this HTML page might change drastically through the effect of the javascript code. From the user point of view it may look like several HTML pages. This confusion is reinforced if the URL routes are matching with the several faces of the applications.
          p For Rouleau, we want to minimize the javascript overlay and stick to the default behavior of the browser. That's means that:
          ul
            li all sub-pages (a.k.a. faces or islands) of the application are always visible
            li the javascript doesn't do any url-route interpretation
            li
              | the hashtags of the url point to the different sub-pages just by using the html attribute 
              i id
            li the vertical scrollbar lets you navigate through the complete application i.e. over all sub-pages
            li the menu consists of simple html links pointing to the according hashtags
          h3 The island layout
          img(src='img/island_layout.svg', alt='the island layout')
          p The layout of an island is composed of the following elements:
          ul
            li a title
            li a small introduction or explanation text
            li a form where the user enters his choices
            li an output field for the current selected statements
            li a status field that shows if the input-form and output-statements are in sync
            li a submit button that updates the output statements according to the input form
            li a reset button that updates the input form back to the current output statements
            li an optional log field that could help for debug or a more transparent user experience
          .action_bar
            .one_button
              button.action_button_reset(type='button') Back
            .one_status
              span.action_status
            .one_button
              button.action_button_submit(type='button') Next
      .water#a-proposal
        .island
          h1 A proposal
          p The last local assembly has suggested the following proposal:
          blockquote "Any blue swimming trunks will be prohibited in all public baths of the city."
          form
            p Do you agree with the following proposal?
            label
              input(type='radio', name='radio_prop1', value='yes')
              |  I approve this proposal
              br
            label
              input(type='radio', name='radio_prop1', value='no')
              |  I disapprove this proposal.
              br
            label
              input(type='radio', name='radio_prop1', value='blank', checked=true)
              |  Blank vote: I let my fellow citizens decide for me.
              br
          +vote_finalization
      .water#a-survey
        .island
          h1 A survey
          p What are your preferences regarding the public baths of the city?
          form
            p The shape of the pool should be
              select(name='survey1_dropdown1')
                option(value='triangle') triangle
                option(value='round') round
                option(value='square') square
                option(value='rectangle') rectangle
            p Your favorite pool configuration is
              select(name='survey1_dropdown2')
                option(value='i3e0') 3 internal pools
                option(value='i2e1') 2 internal pools and 1 external pool
                option(value='i2e2') 2 internal and 2 external pools
                option(value='i0e3') 3 external pools
                option(value='i0e0') not relevant for me
            p Your preferred equipement
              select(name='survey1_dropdown3')
                option(value='slide') slide
                option(value='board') diving board
                option(value='jacuzzi') jacuzzi
                option(value='dont_care') don't care
          +vote_finalization
      .water#four
        .island
          h1 A fourth title
          p lali lala
      .water#five
        .island
          h1 A fifth title
          p lali lala 5
      .water#six
        .island
          h1 A sixth title
          p lali lala 6
      .water#seven
        .island
          h1 A seventh title
          p lali lala 7
      .water#eight
        .island
          h1 A eighth title
          p lali lala 8
    aside.right_side_shutter
      input#right_side_checkbox(type='checkbox', checked=true)
      label.side_checkbox_label(for='right_side_checkbox')
      aside.right_side
        include right_side.pug

