//- rouleau_main.pug

main
  nav.navigo
    a(href='#') Top
    a(href='#one') one
    a(href='#two') two
    a(href='#three') three
    a(href='#four') four
    a(href='#five') five
    a(href='#six') six
    a(href='#seven') seven
    a(href='#eight') eight
    a(href='#about') About
  main.core_columns
    aside.left_side_shutter
      input#left_side_checkbox(type='checkbox', checked='')
      label.side_checkbox_label(for='left_side_checkbox')
      aside.left_side
        include left_side.pug
    main.core
      .water#one
        .island
          h1 Premier truc
          p lolo lala
      .water#two
        .island
          h1 Second stuff
          p zouzou
      .water#three
        .island
          h1 A third one
          p encore des trucs
      .water#four
        .island
          h1 A fourth title
          p lali lala
      .water#five
        .island
          h1 A fifth title
          p lali lala 5
      .water#six
        .island
          h1 A sixth title
          p lali lala 6
      .water#seven
        .island
          h1 A seventh title
          p lali lala 7
      .water#eight
        .island
          h1 A eighth title
          p lali lala 8
    aside.right_side_shutter
      input#right_side_checkbox(type='checkbox', checked='')
      label.side_checkbox_label(for='right_side_checkbox')
      aside.right_side
        include right_side.pug

