//- rouleau_main.pug

main
  nav.navigo
    a(href='#one') one
    a(href='#two') two
    a(href='#three') three
    a(href='#four') four
    a(href='#five') five
    a(href='#six') six
    a(href='#seven') seven
    a(href='#eight') eight
  main.heart
    .island#one
      h1 Premier truc
      p lolo lala
    .island#two
      h1 Second stuff
      p zouzou
    .island#three
      h1 A third one
      p encore des trucs
    .island#four
      h1 A fourth title
      p lali lala
    .island#five
      h1 A fifth title
      p lali lala 5
    .island#six
      h1 A sixth title
      p lali lala 6
    .island#seven
      h1 A seventh title
      p lali lala 7
    .island#eight
      h1 A eighth title
      p lali lala 8
  aside.left_side
    include left_side.pug
  aside.right_side
    include right_side.pug

