//- rouleau_footer.pug

footer#apropos
  h1 Apropos
  h2 A bunch a links
  .footer_columns
    ol(type=1)

      li Around Rouleau
        ol(type=1)
          li
            a(href='https://github.com/charlyoleg/rouleau') github

      li Underlying technolgies
        ol(type=1)
          li
            a(href='https://jamstack.org/') JAMstack
          li
            a(href='https://en.wikipedia.org/wiki/Progressive_web_applications') PWA: Progressive Web App
          li
            a(href='https://swagger.io/specification/') REST API
          li
            a(href='https://en.wikipedia.org/wiki/Content_delivery_network') Content Delivery Network
          li
            a(href='https://en.wikipedia.org/wiki/Source-to-source_compiler') Transpilation
          li
            a(href='https://pugjs.org/api/getting-started.html') Pug
          li
            a(href='https://sass-lang.com/') Sass
          li
            a(href='https://www.typescriptlang.org/') TypeScript
          li
            a(href='https://www.w3.org/TR/html5/') HTML 5
          li
            a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3') CSS 3
          li
            a(href='http://es6-features.org') ECMAScript 6
          li
            a(href='https://en.wikipedia.org/wiki/Single-page_application') SPA: Single Page Application
          li
            a(href='https://serviceworke.rs/') Servie Worker Recipes

      li Web Reference
        ol(type=1)
          li
            a(href='https://developer.mozilla.org/en-US/') References
          li
            a(href='https://www.w3schools.com/TAGs/') Html References
          li
            a(href='https://www.w3schools.com/cssref/default.asp') CSS References
          li
            a(href='https://www.w3schools.com/colors/colors_picker.asp') color picker

      li French tutorials
        ol(type=1)
          li
            a(href='https://www.grafikart.fr/') Grafikart
          li
            a(href='https://www.ledevweb.fr/') Liste de videos francaises
          li
            a(href='https://www.javascriptdezero.com/') JS0

      li Future technologies
        ol(type=1)
          li
            a(href='https://single-spa.js.org/') single-spa, a front-end framework
          li
            a(href='https://svelte.dev/') Svelte
          li
            a(href='https://vuejs.org/') VueJS
          li
            a(href='https://nestjs.com/') Nest, a progressive Node.js framework

      li CDN Providers
        ol(type=1)
          li
            a(href='https://www.netlify.com/') Netlify
          li
            a(href='https://www.cloudflare.com/') CloudFlare
          li
            a(href='https://firebase.google.com/') FireBase
          li
            a(href='https://aws.amazon.com/getting-started/tutorials/deploy-react-app-cicd-amplify/') AWS
          li
            a(href='https://surge.sh/') Surge
          li
            a(href='https://www.aerobatic.com/') Aerobic
          li
            a(href='https://zeit.co/now') Now

      li CDN Rouleau Public Instances
        ol(type=1)
          li
            a(href='https://focused-noether-cb58af.netlify.com/') Rouleau on Netlify
          li
            a(href='http://crowded-ice.surge.sh/') Rouleau on Surge.sh
          li
            a(href='https://dist-qbsupg3ph.now.sh/') Rouleau on Now.sh
          li
            a(href='https://dist.charlyoleg.now.sh/') Rouleau on Now.sh (Alias)


      li Firefox debug tools
        ol(type=1)
          li
            a(href='about:debugging') Debugging Page
          li
            a(href='about:debugging#workers') Service worker debugging
          li
            a(href='about:serviceworkers') Service worker Update and Unregister
          li
            a(href='about:cache') View browser caches
          li
            a(href='about:config') Browser configuration

  .rouleau_fingerprint
    h2 Rouleau's fingerprints
    p PWA Rouleau Version 0.1.0.0
    p Build on 2019/06/29
  .pwa_installation
    h2 PWA Rouleau Installation
    .pwa_install_buttons
      button#pwauninstall(type='button', disabled='disabled') Uninstall Rouleau
      .pwa_install_status The PWA Rouleau is not installed on this device
      button#pwainstall(type='button', disabled='disabled') Install Rouleau

