//- rouleau_main.pug

main
  nav.navigo
    a(href='#one') one
    a(href='#two') two
    a(href='#three') three
    a(href='#four') four
    a(href='#five') five
    a(href='#six') six
    a(href='#seven') seven
    a(href='#eight') eight
  main.heart
    .island
      h1#one Premier truc
      p lolo lala
    .island
      h1#two Second stuff
      p zouzou
    .island
      h1#three A third one
      p encore des trucs
    .island
      h1#four A fourth title
      p lali lala
    .island
      h1#five A fifth title
      p lali lala 5
    .island
      h1#six A sixth title
      p lali lala 6
    .island
      h1#seven A seventh title
      p lali lala 7
    .island
      h1#eight A eighth title
      p lali lala 8
  aside.left_side
    include left_side.pug
  aside.right_side
    include right_side.pug

