// rouleau_base.scss
// This file will be included (i.e. merged) into its parent rouleau_style.scss

body {
  background-color: #ff99ff;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
}

