/* rouleau_style.scss */
// a comment not visible in the css output

// sass-import includes the file instead of using the css-import statement
@import 'rouleau_base.scss';
@import 'rouleau_header.scss';

body main {
  --nav-font-size: 2vh;
  --nav-gap-height: calc(6*var(--nav-font-size));
}

.navigo {
  font-size: var(--nav-font-size);
  background-color: #9999ff;
  position: sticky;
  top: 0;
  width: 100%;
  max-height: var(--nav-gap-height);
  overflow: auto;
  margin: 0;
  border: none;
  padding: 0;
}

.navigo a {
  display: inline-block;
  color: #003399;
  background-color: #99ccff;
  padding: 0.5em;
  border-style: solid;
  border-width: 0.5em;
  border-color: #ff9900;
  border-radius: 2.5em;
  border-top-left-radius: 0;
  margin: 0.5em;
  text-decoration-line: none;
  font-weight: 600;
  box-shadow: 0 0 0.5em 0 hsl(65, 100%, 86%);
}

.navigo a:hover {
  color: #0066cc;
  background-color: #ccccff;
  border-color: #ffcc00;
  box-shadow: 0 0 0.5em 0.2em hsl(65, 100%, 86%);
}

.navigo a:active {
  color: #ffffff;
  box-shadow: 0 0 0.5em 0.5em hsl(65, 100%, 86%);
}

.water {
  margin: 0;
  border: none;
  padding: 0;
}

.water::before {
  display: block;
  content: "";
  height: var(--nav-gap-height);
  visibility: hidden;
  //pointer-events: none;
}

.island {
  background-color: #99ccff;
  padding: 0.5em;
  border-width: 1rem;
  border-style: solid;
  border-color: #555555;
  border-radius: 2.5em;
  border-top-left-radius: 0;
  margin: 0.1rem;
}

.core_columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0.5rem;
  border: none;
  padding: 0.5rem;
  //background-color: grey;
}

.core {
  flex: 1 1 100%;
  margin: 0 0.5rem;
  //background-color: red;
}

.right_side_shutter, .left_side_shutter {
  flex: 0 0 1%;
  background-color: #ffcccc;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.left_side_shutter {
  flex-direction: row-reverse;
}

#right_side_checkbox, #left_side_checkbox {
  display: none;
}

.side_checkbox_label {
  flex: 1 1 10%;
  display: block;
  width: 1rem;
  height: 100%;
  background-color: orange;
}

.right_side {
  flex: 1 1 90%;
  display: none;
  background-color: #ffcc99;
}

.left_side {
  flex: 1 1 90%;
  display: none;
  background-color: #00cc66;
}

footer {
  background-color: #707000;
  padding-bottom: 200px;
}

footer h1 {
  text-align: center;
}

// ============================
// Nice numbered nested ordered-list
// ============================

footer > ol {
  counter-reset: footer_list_level_1;
  padding-left: 0;
}

footer > ol > li {
  counter-increment: footer_list_level_1;
  display: block;
  font-weight: bold;
}

footer > ol > li::before {
  content: counter(footer_list_level_1) ". ";
}

footer > ol > li > ol {
  counter-reset: footer_list_level_2;
  padding-left: 2em;
  font-weight: normal;
}

footer > ol > li > ol > li {
  counter-increment: footer_list_level_2;
  display: block;
  //padding-left: 2em;
}

footer > ol > li > ol > li::before {
  content: counter(footer_list_level_1) "." counter(footer_list_level_2) ". ";
}

// ============================
// Responsive width
// ============================

// ============================
// Show/hide side panels
// ============================

@media only screen and (min-width: 750px) {

  #right_side_checkbox:checked ~ .side_checkbox_label {
    background-color: red;
  }

  #right_side_checkbox ~ .side_checkbox_label:hover {
    box-shadow: 0 0 0.2em 0.2em hsl(65, 100%, 86%);
  }

  #right_side_checkbox:checked ~ .right_side {
    display: block;
  }

}

@media only screen and (min-width: 950px) {

  #left_side_checkbox:checked ~ .side_checkbox_label {
    background-color: red;
  }

  #left_side_checkbox ~ .side_checkbox_label:hover {
    box-shadow: 0 0 0.2em 0.2em hsl(65, 100%, 86%);
  }

  #left_side_checkbox:checked ~ .left_side {
    display: block;
  }

}

