/* rouleau_style.scss */
// a comment not visible in the css output

// sass-import includes the file instead of using the css-import statement
@import 'rouleau_base.scss';
@import 'rouleau_header.scss';

body main {
  --nav-font-size: 2vh;
  --nav-gap-height: calc(6*var(--nav-font-size));
}

.navigo {
  font-size: var(--nav-font-size);
  background-color: #9999ff;
  position: sticky;
  top: 0;
  width: 100%;
  max-height: var(--nav-gap-height);
  overflow: auto;
  margin: 0;
  border: none;
  padding: 0;
}

.navigo a {
  display: inline-block;
  background-color: #99ccff;
  padding: 0.5em;
  border-style: solid;
  border-width: 0.5em;
  border-color: #ff9900;
  border-radius: 2.5em;
  border-top-left-radius: 0;
  margin: 0.5em;
}

.water {
  margin: 0;
  border: none;
  padding: 0;
}

.water::before {
  display: block;
  content: "";
  height: var(--nav-gap-height);
  visibility: hidden;
  //pointer-events: none;
}

.island {
  background-color: #99ccff;
  padding: 0.5em;
  border-width: 1rem;
  border-style: solid;
  border-color: #555555;
  margin: 0.1rem;
}


.left_side {
  background-color: #00cc66;
}

.right_side {
  background-color: #ffcc99;
}

footer {
  background-color: #707000;
  text-align: center;
}

  
